 <ul class="social">
  <!-- <li> <a href="#" class="icon-facebook" rel="external" title="My Facebook"></a></li> -->
  <li> <a href="http://twitter.com/cesardvelandia" class="icon-twitter" rel="external" title="Follow me on Twitter"></a></li>
  <li> <a href="http://plus.google.com/+CesarDarioVelandia/posts" class="icon-googleplus" rel="external" title="Socialize on Google+"></a></li>
  <!-- <li> <a href="#" class="icon-flickr" rel="external" title="My Flickr"></a></li> -->
  <!-- <li> <a href="http://www.linkedin.com/in/cesardvelandia" class="icon-linkedin" rel="external" title="My LinkedIn"></a></li> -->
  <!-- <li> <a href="#" class="icon-pinterest" rel="external" title="My Pinterest"></a></li> -->
  <!-- <li> <a href="#" class="icon-vimeo" rel="external" title="My Vimeo"></a></li> -->
  <li> <a href="https://github.com/cdario" class="icon-github" rel="external" title="Collaborate on GitHub"></a></li>
  <!-- <li> <a href="#" class="icon-dribbble" rel="external" title="My Dribbble"></a></li> -->
  <!-- <li> <a href="#" class="icon-stumbleupon" rel="external" title="My Stumbleupon"></a></li> -->
  <!-- <li> <a href="#" class="icon-lastfm" rel="external" title="My Lastfm"></a></li> -->
  <!-- <li> <a href="#" class="icon-rdio" rel="external" title="My Rdio"></a></li> -->
  <!-- <li> <a href="#" class="icon-youtube" rel="external" title="My YouTube"></a></li> -->
  <li> <a href="mailto:c@cesarvelandia.com" class="icon-mail" rel="external" title="or just Email me"></a></li>
  <!-- <li> <a href="http://cesarvelandia.com/rss" class="icon-feed" rel="external" title="My RSS Feed"></a></li> -->
</ul>
